#!/bin/bash
cd $FABRIC_CFG_PATH
# cryptogen generate --config crypto-config.yaml --output keyfiles
configtxgen -profile OrdererGenesis -outputBlock genesis.block -channelID systemchannel

{% for peerorg in peerorgs %}
{% set mspid = orgattrs[peerorg].mspid %}
configtxgen -printOrg {{ mspid }} > JoinRequest_{{ mspid }}.json
{% endfor %}
