NodeOUs:
  Enable: true
  ClientOUIdentifier:
    Certificate: cacerts/{{ caname }}.{{ org}}-cert.pem
    OrganizationalUnitIdentifier: client
  PeerOUIdentifier:
    Certificate: cacerts/{{ caname }}.{{ org}}-cert.pem
    OrganizationalUnitIdentifier: peer
  AdminOUIdentifier:
    Certificate: cacerts/{{ caname }}.{{ org}}-cert.pem
    OrganizationalUnitIdentifier: admin
  OrdererOUIdentifier:
    Certificate: cacerts/{{ caname }}.{{ org}}-cert.pem
    OrganizationalUnitIdentifier: orderer