{
  "name": "fabric-network",
  "x-type": "hlfv1",
  "version": "1.0.0",
  "client": {
{% set pypeer=allpeers|random %}
    "organization": "{{ pypeer.org }}",
    "connection": {
      "timeout": {
        "peer": { "endorser": "300", "eventHub": "300", "eventReg": "300"},
        "orderer": "300"
      }
    }
  },
  "channels": {
    "{{ CC_NAME }}": {
      "orderers": [
{% for orderer in allorderers %}
        "{{ orderer.fullname }}"{{ '' if loop.last else ',' }}
{% endfor %}
      ],
      "peers": {
{% for peer in allpeers %}
        "{{ peer.fullname }}": {
          "endorsingPeer": true, "chaincodeQuery": true, "eventSource": true
        }{{ '' if loop.last else ',' }}
{% endfor %}
      }
    }
  },
  "organizations": {
{% for org in allorgs %}
{%  set orgelements = allkeys.values() | selectattr("org", "equalto", org) | list %}
    "{{ org }}": {
      "mspid": "{{ org.split('.')|join('') }}",
      "peers": [
{% for peer in allpeers|selectattr('org', 'equalto', org)|list %}
        "{{ peer.fullname }}"{{ '' if loop.last else ',' }}
{% endfor %}
      ],
      "users": {
{%      set users = orgelements | selectattr("type", "equalto", "users") | list | sort(attribute='key') %}
{%      for user in users %}
        "{{user.key.split('@')[0]}}": {
          "cert": "/{{ user.pkey.split('/')[0:6]|join('/') }}/signcerts/{{user.key}}-cert.pem",
          "private_key": "/{{ user.pkey }}"
        }{{ '' if loop.last else ',' }}
{%      endfor %}
      }
    }{{ '' if loop.last else ',' }}
{% endfor %}
  },
  "orderers": {
{% for orderer in allorderers %}
    "{{ orderer.fullname }}": {
{%   if EXPOSE_ENDPOINTS=='true' %}
      "url": "{{ ADDRS.split(',')[0] }}:{{ nodeports[orderer.fullname+'_7050'] }}",
{%   else %}
      "url": "{{ orderer.fullname}}:7050",
{%   endif %}
      "grpcOptions": {
        "ssl-target-name-override": "{{ orderer.fullname }}"
      },
      "tlsCACerts": {
        "pem": "{{ '/keyfiles/ordererOrganizations/'+orderer.org+'/orderers/'+orderer.fullname+'/tls/ca.crt' }}"
      }
    }{{ '' if loop.last else ',' }}
{% endfor %}
  },
  "peers": {
{% for peer in allpeers %}
    "{{ peer.fullname }}": {
{%   if EXPOSE_ENDPOINTS=='true' %}
      "url": "{{ ADDRS.split(',')[0] }}:{{ nodeports[peer.fullname+'_7051'] }}",
{%   else %}
      "url": "{{ peer.fullname }}:7051",
{%   endif %}
      "grpcOptions": {
        "ssl-target-name-override": "{{ peer.fullname }}"
      },
      "tlsCACerts": {
        "pem": "{{ '/keyfiles/peerOrganizations/'+peer.org+'/tlsca/tlsca.'+peer.org+'-cert.pem' }}"
      }
    }{{ '' if loop.last else ',' }}
{% endfor %}
  },
  "certificateAuthorities": { }
}
