#!/bin/bash
# Script to instantiate chaincode
cp $FABRIC_CFG_PATH/core.yaml /vars/core.yaml
cd /vars
export FABRIC_CFG_PATH=/vars

export CORE_PEER_TLS_ROOTCERT_FILE=/vars/keyfiles/peerOrganizations/{{ peer.org }}/peers/{{ peer.fullname }}/tls/ca.crt
export CORE_PEER_TLS_KEY_FILE=/vars/keyfiles/peerOrganizations/{{ peer.org }}/peers/{{ peer.fullname }}/tls/server.key
export CORE_PEER_LOCALMSPID={{ peer.org.split('.')|join('') }}
export CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
export CORE_PEER_TLS_CERT_FILE=/vars/keyfiles/peerOrganizations/{{ peer.org }}/peers/{{ peer.fullname }}/tls/server.crt
export CORE_PEER_TLS_ENABLED=true
export CORE_PEER_MSPCONFIGPATH=/vars/keyfiles/peerOrganizations/{{ peer.org }}/users/Admin@{{ peer.org }}/msp
export CORE_PEER_ID=cli
export CORE_PEER_ADDRESS={{ peer.fullname }}:7051
export ORDERER_TLS_CA=/vars/keyfiles/ordererOrganizations/{{ orderer.org}}/tlsca/tlsca.{{ orderer.org }}-cert.pem
export ORDERER_ADDRESS={{ orderer.fullname }}:7050

peer channel fetch {{ BLOCK_NUMBER }} -o $ORDERER_ADDRESS \
  --cafile $ORDERER_TLS_CA -c {{ CHANNEL_NAME }} --tls

{% if fabric.release is version('2.0', '>=') %}
configtxlator proto_decode --input {{ CHANNEL_NAME }}_{{ BLOCK_NUMBER }}.block --type common.Block \
  | jq -c '[.data.data[].payload]' | \
  jq '[{tx_id:.[].header.channel_header.tx_id,cc_id:.[].data.actions[].payload.chaincode_proposal_payload.input.chaincode_spec.chaincode_id.name,args:[.[].data.actions[].payload.chaincode_proposal_payload.input.chaincode_spec.input.args[]|@base64d] }]' \
  > {{ CHANNEL_NAME }}_{{ BLOCK_NUMBER }}_txs.json
{% else %}
configtxlator proto_decode --input {{ CHANNEL_NAME }}_{{ BLOCK_NUMBER }}.block --type common.Block \
  | jq -c '[.data.data[].payload]' | \
  jq '[{tx_id:.[].header.channel_header.tx_id,cc_id:.[].data.actions[].payload.chaincode_proposal_payload.input.chaincode_spec.chaincode_id.name,args:.[].data.actions[].payload.chaincode_proposal_payload.input.chaincode_spec.input.args }]' \
  > {{ CHANNEL_NAME }}_{{ BLOCK_NUMBER }}_txs.json
{% endif %}

cat {{ CHANNEL_NAME }}_{{ BLOCK_NUMBER }}_txs.json