---
version: v1.0
app_port: 3000
auth_scheme: couchdb
initial_admin: admin
configtxlator_url_original: http://configtxlator.{{ NETNAME }}:7059
host_url: https://{{ endpoint_address }}:{{ console_port }}
default_user_password_initial: password
max_req_per_min: 200