{ "name":"{{ userid }}",
  "mspid":"{{ orgattrs[walletuser.org ].mspid }}",
  "role": null,
  "affiliation": "",
  "enrollmentSecret": "",
  "enrollment": {
     "signingIdentity": "{{ filename }}",
     "identity": {"certificate": "{{ usercert }}" }
  }
} 