{ "name":"{{ userid }}",
  "mspid":"{{ orgattrs[walletuser.org ].mspid }}",
  "role": null,
  "affiliation": "",
  "enrollmentSecret": "",
  "enrollment": {
     "signingIdentity": "{{ filename }}",
     "identity": {"certificate": "{{ lookup('file', pjroot+'/vars/'+msppath+'/signcerts/'+walletuser.key+'-cert.pem') | b64encode }}" }
  }
} 