#!/bin/sh
# Script to query blocks
rm -rf /hyperledger/caliper/workspace/caliper.log

# caliper bind --caliper-bind-sut fabric:2.1.0
caliper launch master \
  --caliper-flow-only-test --caliper-fabric-gateway-usegateway --caliper-fabric-gateway-discovery \
  --caliper-fabric-gateway-gatewaylocalhost false
