name: MiniFab CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        fabric: ['1.4.4', '1.4.6', '1.4.8', '1.4.12',
                 '2.0.0',
                 '2.1.0',
                 '2.2', '2.2.0', '2.2.3', '2.2.4',
                 '2.3', '2.3.2', '2.3.3',
                 '2.4']
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: 'Build up the minifabric container'
        run: docker build -t hyperledgerlabs/minifab:latest .

      - name: 'Setup minifabric network'
        run: ./minifab up -i ${{ matrix.fabric }}

      - name: 'Tear down the network'
        run: ./minifab cleanup

  dockerhub:
    name: Docker
    needs: build
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}

    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    - run: docker build . -t hyperledgerlabs/minifab:latest
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DH_USER }}
        password: ${{ secrets.DH_KEY }}
    - run: docker push hyperledgerlabs/minifab:latest
